@import "normalize.css";

.container {
  margin: auto;
  padding: 10px 20px;
  max-width: 1200px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;

  &__input {
    padding: 12px 15px;
  }
}
